.flexbox {
    display: flex;
    padding: 20px;
}

.item {
    padding: 20px;
}
#box1 {
    justify-content: space-evenly;
    background: rgb(122, 3, 63);
}
#box2, #box3, #box4 {
    justify-content: center;
}
#box3 {
    justify-content: space-between;
}
#box3 {
    background: rgba(122, 3, 62, 0.474);
    
}
#innerbox4 {
    background: rgba(255, 192, 203, 0.885);
}
#box4 {
    background: rgb(122, 3, 63);
}
#img1 {
    border: 20px dotted darkred;
}
h2 {
    text-align: center;
}
body {
    background: rgba(122, 3, 62, 0.474);
}
.imgs {
    border-radius: 20px;
}