.flexbox {
    display: flex;
    border: 2px solid red;
    padding: 20px;
}

.item {
    border: 2px solid darkred;
    padding: 20px;
}
#box1 {
    justify-content: space-evenly;
    background: rgb(122, 3, 63);
}
#box2, #box3, #box4 {
    justify-content: center;
}
#box3 {
    background: skyblue;
}
#innerbox4 {
    background: blue;
}
img {
    border: 20px dotted darkred;
}