.flexbox {
    display: flex;
    border: 2px solid darkred;
    padding: 20px;
}

.item {
    border: 2px solid hotpink;
    padding: 20px;
}
#box1 {
    justify-content: space-evenly;
    background: navy;
}
#box2, #box3, #box4 {
    justify-content: center;
}
#box3 {
    background: skyblue;
}
#innerbox4 {
    background: blue;
}